<div class="container-fluid text-dark">
  <div class="row justify-content-center align-items-center">
    <h1>Add New Message</h1>    
  </div>
  <hr/>
  <div class="row justify-content-center h-100">
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <form>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Message" />
        </div>
        <div class="form-group">
          <div class="container">
            <div class="row ">
              <div class="col"><button class="col-6 btn btn-primary btn-sm"(click)="RedirecttoHome()">Submit</button></div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>