.margin{
    margin-top:5%;
}
.navstyle{
    background-color:gainsboro;
}
.buttonclass{
    padding:10px;
    text-align: center
}
.alignform{
    text-align:center
}
.listStyle{
    margin-top:5%;
}